services:
  wehuddle-db:
    image: postgres:12.10
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: wehuddle
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: wehuddle